<h2>Register</h2>
<h4>Remark: You will be registered with active status & normal privilege, kindly seek admin for privilege elevation. </h4>
<form *ngIf="userForm" #formAddUser="ngForm" (ngSubmit)="onFormSubmit()">
    <div>
        <label for="formEmail">Email: </label>
        <input type="text" #formEmail id="formEmail" name="formEmail" class="form-control" #formEmail="ngModel" [(ngModel)]="userForm.email"
               email
               required>
        <div *ngIf="formEmail.errors && (formEmail.dirty || formEmail.touched)">
            <div [hidden]="!formEmail.errors.email">Please ensure email correct</div>
            <div [hidden]="!formEmail.errors.required">Required</div>
        </div>
        <div *ngIf="userEmailExistsMessage">{{userEmailExistsMessage}}</div>
    </div>
    <br>


    <div>
        <label for="formPassword">Password: </label>
        <input type="password" id="formPassword" name="formPassword" class="form-control" #formPassword="ngModel" [(ngModel)]="userForm.password"
               pattern="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$"
               required
               minlength="6">
        <div *ngIf="formPassword.errors && (formPassword.dirty || formPassword.touched)">
            <div [hidden]="!formPassword.errors.required">Required</div>
            <div [hidden]="!formPassword.errors.minlength">Password must be at least 6 characters long</div>
            <div [hidden]="!formPassword.errors.pattern">Password must contain alphanumeric character</div>
        </div>
    </div>
    <br>

    <p *ngIf="userSubmitMessage">{{userSubmitMessage}}</p>

    <button [disabled]="!formAddUser.form.valid || !isUserEmailUnique" name="formSubmit" type="submit">Register</button>
</form>
<br>

<button [routerLink]="['/users']" name="formBack" >Back</button>
